@font-face {
    font-family: "jameel-noori-nastaleeq";
    src: url("../fonts/jameel-noori-nastaleeq.ttf") format("truetype");
}

body {
   direction: rtl;
   font-family: "jameel-noori-nastaleeq";
   font-size: 400%;
   word-spacing: 0.25rem;
}

h1 {
    text-align: center;
    font-size: 800%;
}
